/* GeneralBot CSS by JvNeto */
/* Date: 19/06/2021 */

@font-face {
  font-family: sfpro-regular;
  src: url("../../assets/fonts/SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: sfpro-light;
  src: url("../../assets/fonts/SFProDisplay-Light.ttf");
}

:root {
  --main: #36393f;
  --background_header: #1e2023;
}

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--main);
}

header {
  width: 100%;
  height: 60px;
  background-color: var(--background_header);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* Header */
header .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .container .header-options-container .header-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

header .container .header-options-container .header-logo img {
  width: 45px;
  border-radius: 50%;
}

header .container .header-options-container .header-logo span {
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
  text-align: left;
  color: #ffffff;
  margin-left: 5px;
}
header .container .header-options-container .header-menu-button {
  display: none;
  border: none;
}

header .container .header-menu-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}

header .container .header-menu-container .header-options {
  display: flex;
  flex-direction: row;
}

header .container .header-menu-container .header-options a {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 15px;
  color: #a1a4a7;
  text-decoration: none;
  margin-left: 15px;
  background-color: #2f3136;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-radius: 8px;
}

header .container .header-menu-container .header-options .select {
  font-weight: bold;
  font-size: 17px;
  color: #7289da;
  background-color: #45484e;
  text-decoration: none;
}

header .container .header-menu-container .header-state {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2f3136;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
}

header .container .header-menu-container .header-state i {
  margin: 0px;
  padding: 0px;
  color: #7289da;
  font-size: 20px;
}
header .container .header-menu-container .header-state h5 {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  font-size: 13px;
  color: #7289da;
  margin-left: 10px;
}
header .container .header-menu-container .header-state h6 {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
}
.online {
  color: #43b581;
}
.offline {
  color: #f04747;
}

@media screen and (max-width: 768px) {
  header {
    min-height: 60px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  header .container .header-menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-top: 10px;
  }
  header .container .header-menu-container .header-options .option-init {
    margin-left: 0px;
  }
}

@media screen and (max-width: 470px) {
  header {
    min-height: 60px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  header .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  header .container .header-options-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .container .header-options-container .header-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7289da;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  header .container .header-menu-container {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-top: 10px;
  }
  header .container .header-menu-container .header-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .container .header-menu-container .header-options a {
    width: 100%;
    font-size: 15px;
    color: #a1a4a7;
    margin-left: 0px;
    background-color: #2f3136;
    padding-top: 3px;
    padding-left: 13px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .container .header-menu-container .header-options .option-init {
    margin-left: 0px;
    margin-top: 0px;
  }
  header .container .header-menu-container .header-state {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }
  header .container .header-menu-container .header-state i {
    font-size: 15px;
  }
  header .container .header-menu-container .header-state h5 {
    font-size: 12px;
    margin-left: 10px;
  }
  header .container .header-menu-container .header-state h6 {
    font-weight: 600;
    font-size: 14px;
    margin-left: 5px;
  }
}

/* Body */
.content-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container .body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding-top: 80px;
}

.container .body h1 {
  font-weight: bold;
  font-size: 41px;
  color: #fff;
}
.container .body p {
  width: 50%;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.container .body img {
  width: 60%;
  margin-top: -35px;
}
.container .body .contant-button {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .body .contant-button .button-add-discord {
  padding: 11px;
  border-radius: 10px;
  background: #7289da;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.container .body .contant-button .button-add-discord:hover {
  background: #3f4c7a;
}
.container .body .contant-button .button-add-discord i {
  font-size: 25px;
  color: white;
}
.container .body .contant-button .button-add-discord h6 {
  font-weight: bold;
  font-size: 13px;
  color: white;
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
}
.container .body .contant-button .button-resurces {
  padding: 11px;
  border-radius: 10px;
  background: #1e2023;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}
.container .body .contant-button .button-resurces:hover {
  background: #2d3135;
}
.container .body .contant-button .button-resurces i {
  font-size: 25px;
  color: white;
}
.container .body .contant-button .button-resurces h6 {
  font-weight: bold;
  font-size: 13px;
  color: #7289da;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .container .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 120px;
  }
}
@media screen and (max-width: 470px) {
  .container .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 80px;
  }

  .container .body h1 {
    font-size: 31px;
    text-align: center;
  }
  .container .body p {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
  }
  .container .body img {
    width: 80%;
    margin-top: -15px;
  }
  .container .body .contant-button .button-add-discord {
    padding: 8px;
    border-radius: 5px;
    background: #7289da;
  }
  .container .body .contant-button .button-add-discord i {
    font-size: 20px;
  }
  .container .body .contant-button .button-add-discord h6 {
    font-size: 12px;
    margin-left: 10px;
  }
  .container .body .contant-button .button-resurces {
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .container .body .contant-button .button-resurces h6 {
    font-size: 11px;
  }
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3136;
  margin-top: 50px;
}
footer .container {
  width: 100%;
  /* background-color: red; */
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .container .top-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container .top-content .discord-servidor-support {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: white;
  padding: 11px;
  border-radius: 10px;
}
footer .container .top-content .discord-servidor-support i {
  font-size: 75px;
  color: #7289da;
}
footer .container .top-content .discord-servidor-support i {
  font-size: 60px;
}
footer .container .top-content .discord-servidor-support .text-aling {
  margin-left: 10px;
}
footer .container .top-content .discord-servidor-support .text-aling h6 {
  font-weight: bold;
  font-size: 16px;
  color: #36393f;
  margin: 0px;
  padding: 0px;
}
footer .container .top-content .discord-servidor-support .text-aling a {
  border: none;
  border-radius: 4px;
  background-color: #1e2023;
  font-weight: bold;
  font-size: 12px;
  color: #7289da;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  text-decoration: none;
}
footer .container .top-content .doar-content {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
footer .container .top-content .doar-content p {
  font-weight: bold;
  font-size: 15px;
  color: #99aab5;
}
footer .container .top-content .doar-content a {
  border-radius: 6px;
  background: #facb7b;
  padding: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
footer .container .top-content .doar-content a:hover {
  background: #fab847;
}
footer .container .top-content .doar-content a i {
  font-size: 25px;
  color: rgb(27, 25, 25);
}
footer .container .top-content .doar-content a span {
  font-size: 14px;
  font-weight: bold;
  color: rgb(27, 25, 25);
  margin-left: 10px;
}
footer .container .bottom-content {
  margin-top: 30px;
}
footer .container .bottom-content .info h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  color: #fff;
}
footer .container .bottom-content .info p {
  width: 50%;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  color: #99aab5;
}
footer .container .bottom-content .info h6 {
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  footer .container .top-content {
    flex-direction: column;
    justify-content: center;
  }
  footer .container .top-content .discord-servidor-support {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding: 11px;
    border-radius: 10px;
  }
  footer .container .top-content .doar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 25px;
  }
  footer .container .top-content .doar-content a {
    width: 100%;
  }
  footer .container .bottom-content .info p {
    width: 100%;
  }
}
